* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}

.navbar {
  height: 60px;
  background-color: #131921;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid #fff;
}

/* box 1*/
.nav-logo {
  width: 100px;
  height: 50px;
}

.logo {
  width: 100%;
  height: 50px;
  background-image: url("./Resources/amazon_logo.png");
  background-size: cover;
}

/* box 2*/
.nav-address {
  display: flex;
  align-items: center;
  margin: 5px 2px 5px 0;
  padding: 4px 16px;
}

.add-logo {
  margin-top: 8px;
}

.add {
  margin-left: 2px;
}

.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  padding-bottom: 1px;
}

.add-second {
  font-size: 1rem;
  padding-bottom: 1px;
}

/* box 3*/
.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 620px;
  height: 40px;
  border-radius: 4px;
}

.nav-search:hover {
  border: 2px solid orange;
}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  border: none;
  outline: none;
}

.search-icon {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  color: #0f1111;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* box 4*/
.nav-signin {
  font-size: 0.75rem;
  padding: 4px 8px;
}

.nav-second {
  font-size: 0.875rem;
  font-weight: 700;
}

/* box 5 */
.nav-returns {
  font-size: 0.75rem;
  padding: 8px;
}

/* box 6*/
.nav-cart i {
  font-size: 24px;
}

.nav-cart {
  font-size: 0.875rem;
  font-weight: 700;
  padding: 8px;
}

/* Panel */
.panel {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #222f3d;
  color: #fff;
}

.panel-ops {
  width: 70%;
}

.panel-ops p {
  display: inline;
  margin-left: 14px;
  font-size: 0.875rem;
}

.panel-deals {
  font-size: 0.875rem;
  font-weight: 700;
}

/* hero seciton*/
.hero-section {
  background-image: url("./Resources/hero_image.jpg");
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  background-color: #fff;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  width: 80%;
  margin-bottom: 30px;
}

.hero-msg a {
  color: #007185;
  text-decoration: none;
}

/* Shopping */
.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #c7d9d9;
  padding-bottom: 1rem;
}

.box {
  height: 400px;
  width: 23%;
  background-color: #fff;
  margin-top: 1rem;
  padding: 20px 0px 15px;
}

.box-image {
  height: 300px;
  margin: 1rem 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.box-content {
  margin: 0 1rem;
}

.box-content {
  color: #007185;
}

/* Footer */

.foot-panel1 {
  background-color: #37475a;
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
}

.foot-panel2 {
  background-color: #222f3d;
  color: #fff;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}

ul {
  margin-top: 2rem;
}

ul p {
  font-weight: 700;
}
ul a {
  display: block;
  font-size: 0.875rem;
  margin-top: 10px;
  color: #dddddd;
}

.foot-panel3 {
  background-color: #222f3d;
  color: #fff;
  border-top: 0.5px solid #fff;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-logo {
  width: 100px;
  height: 50px;
  background-image: url("./Resources/amazon_logo.png");
  background-size: cover;
}

.foot-panel4 {
  background-color: #131a22;
  color: #fff;
  height: 75px;
  font-size: 0.75rem;
  text-align: center;
}

.pages {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pages a {
  color: #fff;
  text-decoration: none;
}

.pages a:hover {
  text-decoration: underline;
}

.copyright {
  padding-top: 5px;
}
